<h3>Edit your restaurant review!</h3>

<label class="form-control w-full max-w-xs">
<%= form_for @review do |f|  %>
<div class="label">
<p>
<%= f.label :title , class: "label-text" %>
<%= f.text_field :title , placeholder: "typehere", class:"input input-bordered w-full max-w-xs min-w-80" %>
</p>
  </div>

<p>
<%= f.label :body , class: "label-text" %>
<%= f.text_area :body , placeholder: "typehere", class:"input input-bordered w-full max-w-xs" %>
</p>

<p>
<%= f.label :score , class: "label-text" %>
<%= f.number_field :score , placeholder: "typehere", class:"input input-bordered w-full max-w-xs" %>
</p>
<br>
<button class="btn min-w-80">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
<%= f.submit "Save review" %>

</button>
<% end %>
</label>